 <%= form_for(@sound) do |f| %>
<!--↑form_tag sound_path(@sound.id)と同じ。method（Verb）は、id（@sound.id）を引数に取る（この時は、patch、updateアクションに飛ぶ）か取らない（この時は、post、createアクションに飛ぶ）かで自動的に判断してくれる。-->
    <% if @sound.errors.any? %>
        <div class="alert alert-danger">
            <p><%= @sound.errors.count %>件のエラーがあります。</p>

            <ul>
                <% @sound.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <br>

    <p>
    <div>
     タイトル
     </div>
    <%= f.text_field :title, class: "form-control title-field" %>
    <!--クラスは、=ではなく、:（ハッシュ）で指定する。-->
    </p>
    <p>
    <div>
    音楽の説明
    </div>
    <%= f.text_area :content, class: "form-control content-field" %>
    </p>
    <p>
    <div>
    <lavel class: "control-label">アップロードするファイルを指定：
    </div>
        <%= f.file_field :upfile, size: 50 , class: "form-control upfile-field" %>
        <!--f.file_field(プロパティ名 [, オプション])  :size  フォームの幅-->
    </lavel>
    </p>
    <p>
    <div>
    <lavel class: "control-label">サムネイルを指定：
    </div>
        <%= f.file_field :image, size: 50 , class: "form-control  image-field" %>
    </lavel>
    </p>

    <br>

    <p>
    <%= f.submit "アップロード" %>
    </p>

<% end %>