<h1>音楽を投稿する</h1>

<%= form_for(@sound) do |f| %>
<!--↑action:で現在のビュー（ここではupload.html.erb）に対応するコントローラーのアクションであるupload_processを呼び出している-->
<!--↑multipartオプションを有効にしておかないと、正しくデータを受信できない。-->
    <% if @sound.errors.any? %>
        <div class="alert alert-danger">
            <p><%= @sound.errors.count %>件のエラーがあります。</p>

            <ul>
                <% @sound.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    タイトル
    <%= f.text_field :title, { class: "form-control title-field" } %>
    音楽の説明
    <%= f.text_area :content, { class: "form-control content-field" } %>
    <br>
    <lavel>ファイルを指定：
        <%= f.file_field :upfile, size: 50 %>
        <!--f.file_field(プロパティ名 [, オプション])  :size  フォームの幅-->
    </lavel>
    <%= f.submit "アップロード" %>
<% end %>


<%= form_for(@sound, html: {multipart: true}) do |f| %>
<% if @sound.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@sound.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @sound.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>
<div class="field">
    <%= f.label :upfile %><br>
    <%= f.file_field :upfile %>
</div>
<div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
</div>
<div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
</div>
<div class="actions">
    <%= f.submit %>
</div>
<% end %>

