<p id="notice"><%= notice %></p>

<%= image_for(@sound, 200) %>

<p>
  <strong>タイトル:</strong>
  <%= @sound.title %>
</p>

<p>
  <strong>説明:</strong>
  <%= @sound.content %>
</p>

<%= link_to '編集する', edit_sound_path(@sound) %>
<%= link_to '消去する', sound_path(@sound.id), method: :delete, data: { confirm: '本当に消去してもいいですか？' } %>
<%= link_to '戻る', sounds_path %>
