<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>MusicPost</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> 
    <!-- ↑app/assets/stylesheets内の全CSSファイルを読み込んでいる-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- ↑app/assets/javascripts内の全javascriptファイルを読み込んでいる-->
    <%= csrf_meta_tags %>
    <!-- ↑セキュリティのためのタグ-->
</head>
<body>
    <header class="navbar">
    <div class="header-container">
        <div id="logo"><%= link_to "MusicPost", root_path %></div>
        <ul class="header-right">
            <li><%= link_to "ホーム", root_path %></li>
            <li><%= link_to "マッチング", home_matching_top_path %></li>
            <li><%= link_to "メロディー閲覧", show_melody_sounds_path %></li>
            <li><%= link_to "音楽レッスン", home_lesson_top_path %></li>
            <li><%= link_to "有料会員登録" ,new_user_path %></li>
            <% if user_signed_in? %>
                <li>ログインしています</li>
            <% end %>
            <% if !user_signed_in? %>
                <li><%= link_to "ログイン" %></li> 
                <!-- ↑ログインしている特はログアウトに変わる-->
            <% end %>
            <li><%= link_to "マイページ" ,@user %></li> 
            <li><%= link_to "ユーザーリスト" ,users_path %></li> 
            <li><%= link_to "音楽投稿" ,new_sound_path %></li>
            <li><%= link_to "ランキング" ,sounds_path %></li>
            <li><%= link_to "オススメ音楽" ,recommend_sounds_path %></li>
            <li><%= link_to "オススメユーザー" ,recommend_users_path %></li>
            <li><%= link_to "お知らせ" ,alert_path %></li>
        </ul>
        </div>
    </header>

    <div class="container">
        <% if flash[:notice].present? %>
            <p class="alert alert-success">
                <!-- ここでnoticeを表示してください -->
                <%= notice %>
            </p>
        <% end %>
        <% if flash[:alert].present? %>
            <p class="alert alert-danger">
              <!-- ここでalertを表示してください -->
                <%= alert %>
            </p>
        <% end %>

        <%= yield %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
