<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>MusicPost</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> 
    <!-- ↑app/assets/stylesheets内の全CSSファイルを読み込んでいる-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- ↑app/assets/javascripts内の全javascriptファイルを読み込んでいる-->
    <%= csrf_meta_tags %>
    <!-- ↑セキュリティのためのタグ-->
</head>
<body>
    <header class="navbar">
    <div class="container">
        <div id="logo">MusicPost</div>
        <ul class="header-right">
            <li><%= link_to "ホーム", root_path %></li>
            <li><%= link_to "マッチング", home_matching_top_path %></li>
            <li><%= link_to "メロディー閲覧", show_melody_sounds_path %></li>
            <li><%= link_to "音楽レッスン", home_lesson_top_path %></li>
            <li><%= link_to "有料会員登録" ,new_user_path %></li>
            <li><%= link_to "ログイン" %></li> 
            <!-- ↑ログインしている特はログアウトに変わる-->
            <li><%= link_to "マイページ" ,users_path %></li> 
            <li><%= link_to "音楽投稿" ,new_sound_path %></li>
            <li><%= link_to "ランキング" ,sounds_path %></li>
            <li><%= link_to "オススメ音楽" ,recommend_sounds_path %></li>
            <li><%= link_to "オススメユーザー" ,recommend_users_path %></li>
            <li><%= link_to "お知らせ" ,alert_path %></li>
        </ul>
        </div>
    </header>
            <%= yield %>
</body>
</html>
